/* Section Style */
.container {
    margin: 15px;
    display: flex;
    gap: 20px;
}

.section-card {
    text-align: center;
    padding: 40px 20px;
    border: 1px solid rgba(0, 0, 0, 0.128);
}

.section-card-inputbox {
    margin-bottom: 4%;
}

.random-bg-color {
    transition: background-color 0.3s ease-in-out;
}

.random-bg-color:hover {
    background-color: hsla(360, 100%, 50%, 0.3);
}

.section-card-inputbox input {
    outline: transparent;
    border: hidden;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

.section-left {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 10px; */
}

/* COMPLETED  */
.list-items {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.mylist-items {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

ol {
    display: none;
}